fastapi~=0.74.1
pydantic~=1.9.0
uvicorn
psycopg2-binary
sqlalchemy~=1.4.31
sqlalchemy_utils
cryptography
python-jose[cryptography]
passlib[bcrypt]~=1.7.4
python-multipart
python-dotenv~=0.19.2
alembic~=1.7.6
httpx~=0.21.3
asyncio
fastapi-mail
tensorflow>=1.9.0
deepface~=0.0.74

requests~=2.27.1
beautifulsoup4~=4.10.0
starlette~=0.17.1
